//h1 = main title, bold
//h4 = multi titles, semibold
//h3 = section title, bold
/*
h1 {
  font-weight: bold;
  font-family: "Times New Roman";
  font-style: italic;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: serif;
}

h4 {
  font-weight: bolder;
  font-family: serif;
}

h5 {
  font-weight: bolder;
  font-family: serif;
}

article {
  font-family: "Times New Roman";
}

article section {
  font-size: 20px;
}
*/
